.problem-label-tr {
  background-color: #744ea9;
}

.problem-label-tr img {
  height: 2em;
  vertical-align: -0.6em;
}

html[theme='dark'] .problem-label-tr {
  background-color: transparent;
  color: #8f6ebc;
  border: 1px solid #8f6ebc;
}
