.problem-label-tr {
  background-color: #744ea9;
}

.tr-icons {
  font-size: 2em;
  position: relative;
  top: 0.15em;
  line-height: 0;
}

html[theme='dark'] .problem-label-tr {
  background-color: transparent;
  color: #8f6ebc;
  border: 1px solid #8f6ebc;
}
